<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.univol.member.model.mapper.MemberMapper">

	<!-- 로그인 -->
	<select id="logIn" resultType="Member">
		select *
		from users
		where user_id=#{userId} and user_pw=#{userPw}
	</select>

	<!-- 회원가입 -->
	<insert id="signUp">
    INSERT INTO USERS (USER_ID, USER_PW, USER_NAME, BIRTH, GENDER, PHONE, ADDRESS)
    VALUES (
        #{userId},
        #{userPw},
        #{userName},
        TO_DATE(#{birth}, 'YYYY-MM-DD'),
        #{gender},
        #{phone},
        #{address}
    )
	</insert>
	
	<select id="myPage" resultType="Member">
	select *
	from users
	where user_id=#{userId}
	</select>









</mapper>